header{
  background-color: #2973B8;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  height: 56px;
}

.nav-right{
  margin-right: 8px;
}

.nav-right button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
}